# Docker compose config
#
# Included services: postgres, flask_app

version: "3.5"

services:
  postgres-db:
    container_name: postgres-db
    image: postgres:alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - twis_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - postgres

  app_flask: 
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    environment:
      DEVELOPMENT_DATABASE_URI: postgresql://postgres:postgres@postgres-db/
      PRODUCTION_DATABASE_URI: postgresql://postgres:postgres@postgres-db/
      FLASK_DEBUG: 1
    ports:
      - "5001:5000"
    depends_on:
      - "postgres-db"
    networks:
      - postgres

networks:
  postgres:
    driver: bridge

volumes:
  twis_data:
  pgadmin4: